<div class="user-description-container">
  <div class="user-description-header">
    <span>About me</span>
  </div>
  <p>
    After graduation I started working for a mid-size company in the Plant and
    Facility Automation industry in Germany as a data scientist. Couple of years
    later I decided to relocate back to my Bulgarian roots and started to work
    for a small outsourcing company as a full-stack developer.
  </p>
  <p>
    At some point I had the opportunity to start my own business, a full-blown
    SaaS-solution based on a cutting edge technological stack. Due to
    difficulties in establishing and provisioning for a team, I ultimately
    decided to cease operation and move on to find a regular full-time job and a
    team I truly resonate with.
  </p>
</div>
