<div class="education-container">
  <div class="header">
    <span>Education</span>
  </div>
  <div class="education-items-container">
    <div class="item">
      <span class="item-header">Telerik Academy Kids</span>
      <span class="item-desc"> Game development </span>
      <span class="item-years"> 2016 - 2018 </span>
    </div>
    <div class="item">
      <span class="item-header">7 School "Seven Saints</span>
      <span class="item-desc"> High school education, Foreign Languages </span>
      <span class="item-years"> 2018 - 2023 </span>
    </div>
    <div class="item">
      <span class="item-header"> Sofia University St. Kliment Ohridski</span>
      <span class="item-desc"> Bachelor's degree, Psychology </span>
      <span class="item-years"> 2023 - Present </span>
    </div>
  </div>
</div>
