<div class="app-container">
  <div class="app-leftpanel-container">
    <ds-user-information></ds-user-information>
  </div>
  <div class="app-central-container">
    <ds-user-description></ds-user-description>
    <div class="projects-container">
      <ds-user-project-crad
        projectName="Ziomm Forge"
        projectLink="https://ziomm-world-cfe87.web.app/authentication"
      >
        <ds-project-type-chip project-type projectType="web-app" />
        <span proect-description>
          Simplifying character creation for the Ziomm World tabletop game</span
        >
        <ds-project-technology-chip project-tech-chip tech="Angular" />
        <ds-project-technology-chip project-tech-chip tech="Firebase" />
      </ds-user-project-crad>
      <ds-user-project-crad
        projectName="Coinalyzer"
        repoLink="https://github.com/arangelovv/Coinalyzer"
      >
        <ds-project-type-chip project-type projectType="web-app" />
        <span proect-description>
          A web application designed to monitor cryptocurrency prices and
          analyze trends in the altcoin market. This tool helps users track
          real-time data, identify potential trading opportunities, and make
          informed decisions when investing in altcoins.</span
        >
        <ds-project-technology-chip project-tech-chip tech="Angular" />
        <ds-project-technology-chip project-tech-chip tech="APIs" />
      </ds-user-project-crad>
      <ds-user-project-crad
        projectName="RunBoard"
        repoLink="https://github.com/arangelovv/RunBoard"
      >
        <ds-project-type-chip project-type projectType="web-app" />
        <span proect-description>
          A web application designed to help runners track and analyze their
          running progress over time. The app allows users to log their runs,
          monitor key statistics such as distance, time, pace, and compare
          performance across multiple sessions.</span
        >
        <ds-project-technology-chip project-tech-chip tech="Angular" />
        <ds-project-technology-chip project-tech-chip tech="Firebase" />
      </ds-user-project-crad>
      <ds-user-project-crad
        projectName="LitFever"
        repoLink="https://github.com/arangelovv/LitFever"
      >
        <ds-project-type-chip project-type projectType="web-app" />
        <span proect-description>
          A web application inspired by platforms like Goodreads and StoryGraph,
          designed to help users track their reading habits and discover new
          books.</span
        >
        <ds-project-technology-chip project-tech-chip tech="Angular" />
        <ds-project-technology-chip project-tech-chip tech="Firebase" />
      </ds-user-project-crad>
      <ds-user-project-crad
        projectName="PurrfectPaws"
        repoLink="https://github.com/arangelovv/PurrfectPaws"
      >
        <ds-project-type-chip project-type projectType="game" />

        <span proect-description>
          Web-based clicker game where your goal is simple: click to pat the cat
          and watch it purr! This charming and interactive game is built
          entirely using Angular, showcasing how front-end frameworks can be
          used to create engaging games, without relying on traditional game
          engines.</span
        >
        <ds-project-technology-chip project-tech-chip tech="Angular" />
      </ds-user-project-crad>
    </div>
  </div>
  <div class="app-rightpanel-container">
    <ds-user-education></ds-user-education>
    <ds-user-employment-history></ds-user-employment-history>
    <ds-user-certificates></ds-user-certificates>
  </div>
</div>
