<div class="app-container">
  <div class="app-leftpanel-container">
    <ds-user-information></ds-user-information>
  </div>
  <div class="app-central-container">
    <ds-user-description></ds-user-description>
    <div class="projects-container">
      <ds-user-project-crad
        projectName="Ziomm Forge"
        projectLink="https://ziomm-world-cfe87.web.app/authentication"
        repoLink="https://github.com/arangelovv/ZiommForge"
      >
        <ds-project-type-chip project-type projectType="web-app" />

        <span proect-description>
          A web application designed to monitor cryptocurrency prices and
          analyze trends in the altcoin market. This tool helps users track
          real-time data, identify potential trading opportunities, and make
          informed decisions when investing in altcoins.</span
        >

        <ds-project-technology-chip project-tech-chip tech="Angular" />
        <ds-project-technology-chip project-tech-chip tech="CSS" />
        <ds-project-technology-chip project-tech-chip tech="Firebase" />
        <ds-project-technology-chip project-tech-chip tech="Tailwind" />
      </ds-user-project-crad>
    </div>
  </div>
  <div class="app-rightpanel-container">
    <ds-user-education></ds-user-education>
    <ds-user-employment-history></ds-user-employment-history>
    <ds-user-certificates></ds-user-certificates>
  </div>
</div>
