<div class="user-info-container">
  <div class="user-profile-pic">
    <img src="profile-pic.jpeg" alt="img" />
  </div>
  <div class="user-name">
    <span>Alexandar Rangelov</span>
  </div>
  <div class="social-media-buttons">
    <ds-social-button
      socialMedia="Github"
      mediaLink="https://github.com/arangelovv"
    ></ds-social-button>
    <ds-social-button
      socialMedia="LinkedIn"
      mediaLink="https://www.linkedin.com/in/alexandar-rangelov-a95862291/"
    ></ds-social-button>
  </div>
  <div class="user-location">
    <span class="material-symbols-outlined pin_drop"> pin_drop </span>
    <span>Sofia, Bulgaria</span>
  </div>
</div>
