<div class="education-container">
  <div class="header">
    <span>Experience</span>
  </div>
  <div class="education-items-container">
    <div class="item">
      <span class="item-header">Intern Frontend Developer</span>
      <span class="item-desc"> Ziomm </span>
      <span class="item-years"> Oct 2022 - May 2023 · 8 mos </span>
    </div>
    <div class="item">
      <span class="item-header">Junior Frontend Developer</span>
      <span class="item-desc"> Goblinware </span>
      <span class="item-years"> May 2023 - Sep 2023 · 5 mos </span>
    </div>
  </div>
</div>
